@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  font-family: 'Noto Sans KR', sans-serif;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
  margin: 0;
  background: rgb(248, 248, 248);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.App {
  text-align: center;
  margin: 0 auto;
  width: 940px;
  box-shadow: 0px 0px 10px lightgray;
  background: white;
  position: relative;
  overflow: hidden;
  position: relative;
  min-height:500px;
  padding-bottom: 200px;

  a.top {
    z-index: 999;
    position: fixed;
    bottom: 50px;
    right: 40px;

    button {
      border: none;
      width: 50px;
      height: 50px;
      background: orange;
      border-radius: 50%;
      font-weight: bold;
      color: white;
      cursor: pointer;
      box-shadow: 0 0 10px gray;
    }

    button:focus{
      outline: none;
    }
  }

  .header {
    .headerTop {
      background: linear-gradient(to right, rgb(255, 217, 0) , rgb(255, 179, 0));
      height: 40px;
      width: 100%;
      padding: 10px 20px 0 20px;
      color: white;
      text-shadow: 2px 2px 2px gray;
  
      .lang {
        float: left;
      }
  
      .contactMe {
        float: right;
      }
    }
  
    .headerBody {
      width: 100%;
      height: 90px;
      padding-bottom: 10px;
      background: linear-gradient(to right, rgb(255, 217, 0) , rgb(255, 179, 0));
      display: table;
  
      div {
        vertical-align: middle;
        display: table-cell;
        line-height: 30px;
        font-size: 18px;
        font-weight: 500;
        color: white;
        text-shadow: 2px 2px 2px gray;
  
        h1 {
          margin: 0;
        }
      }
    }
  
    nav {
      line-height: 40px;
      font-size: 16px;
  
      table {
        width: 100%;
        border-bottom: 3px solid rgb(255, 179, 0);
        color: rgb(255, 179, 0);
        font-weight: bold;
        border-collapse: collapse;
  
        td {
          transition: .15s all ease-in-out;
          width: 12.5%;
        }
  
        td:hover {
          background: rgb(255, 179, 0);
          color: white;
          cursor: pointer;
        }
  
        td.active {
          background: rgb(255, 179, 0);
          color: white;
        }
      }
    }
  }

  .contents {
    height: 800px;
  }

  
}
.footer {
  background: black;
  color: white;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  width: 940px;
  box-shadow: 0 0 10px gray;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#svg {
  height: auto;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 3s 1s infinite;
}